<div class="app-modal modal fade" id="callBackModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <h2>Заказ обратного звонка</h2>
                <form id="callOrderForm" class="form-inline">
                    <div class="form-group">
                        <label for="callBacTel" class="u-block">Введите номер телефона:</label>
                        <input type="tel"
                               class="form-control app-input-md"
                               name="phone"
                               id="callBacTel">
                        <input type="hidden" name="formtype" value="callback">
                    </div>
                    <button type="submit"
                            class="btn btn-black u-margin-top-25">Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>