<div class="app-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal-body">
                    <h2>Коттедж в деревне Вертемяги</h2>

                    <div id="carouselModal3" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carouselModal3" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselModal3" data-slide-to="1"></li>
                            <li data-target="#carouselModal3" data-slide-to="2"></li>
                            <li data-target="#carouselModal3" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="img/portfolio/modal3/img1.jpg">
                            </div>
                            <div class="item">
                                <img src="img/portfolio/modal3/img2.jpg">
                            </div>
                            <div class="item">
                                <img src="img/portfolio/modal3/img3.jpg">
                            </div>
                            <div class="item">
                                <img src="img/portfolio/modal3/img4.jpg">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carouselModal3" role="button" data-slide="prev">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                        </a>
                        <a class="right carousel-control" href="#carouselModal3" role="button" data-slide="next">
                            <span class="fa fa-angle-right" aria-hidden="true"></span>
                        </a>
                    </div>

                    <div class="app-modal__info">
                        <div class="app-price">
                            <p><strong>Стоимость работ:</strong> 76 480&nbsp;₽</p>
                            <p><strong>Стоимость материалов:</strong> 70 412&nbsp;₽</p>
                            <p><strong>Срок:</strong> 6 дней</p>
                            <p><strong>Площадь:</strong> 113 м²</p>
                        </div>
                        <p class="app-description">
                            На данном объекте нас настигли проблемы с водоснабжением. Но мы нашли выход и из этой
                            ситуации! С помощью насосов мы накачали воду в бочки и успели завершить все работы в точно
                            оговоренные сроки.
                        </p>
                    </div>

                    <h3>Материалы</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th class="text-right">Кол-во</th>
                            <th class="text-right">Стоимость</th>
                            <th class="text-right">Сумма</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Профиль примыкания оконный самоклеящийся с сеткой 6 мм 2.4 м пластиковый</td>
                            <td class="text-right u-nowrap">26</td>
                            <td class="text-right u-nowrap">152&nbsp;₽</td>
                            <td class="text-right u-nowrap">3 952&nbsp;₽</td>
                        </tr>

                        <tr>
                            <td>Сетка стеклотканевая ячейка 10х10 мм рулон 1х50 м Эконом</td>
                            <td class="text-right u-nowrap">1</td>
                            <td class="text-right u-nowrap">1 873&nbsp;₽</td>
                            <td class="text-right u-nowrap">1 873&nbsp;₽</td>
                        </tr>

                        <tr>
                            <td>Профиль маячковый Стандарт 6 мм 3 м 0.50 мм</td>
                            <td class="text-right u-nowrap">137</td>
                            <td class="text-right u-nowrap">40&nbsp;₽</td>
                            <td class="text-right u-nowrap">5 480&nbsp;₽</td>
                        </tr>

                        <tr>
                            <td>Шпатель малярный Wenzo 100 мм с эргономичной ручкой</td>
                            <td class="text-right u-nowrap">1</td>
                            <td class="text-right u-nowrap">127&nbsp;₽</td>
                            <td class="text-right u-nowrap">127&nbsp;₽</td>
                        </tr>

                        <tr>
                            <td>Грунт для впитывающих оснований Миттельгрунд концентрат Кнауф 10 кг</td>
                            <td class="text-right u-nowrap">2</td>
                            <td class="text-right u-nowrap">2 082&nbsp;₽</td>
                            <td class="text-right u-nowrap">4 164&nbsp;₽</td>
                        </tr>

                        <tr>
                            <td>Терка пластиковая 280х140 мм с резиновой губкой Corte</td>
                            <td class="text-right u-nowrap">1</td>
                            <td class="text-right u-nowrap">692&nbsp;₽</td>
                            <td class="text-right u-nowrap">692&nbsp;₽</td>
                        </tr>

                        <tr>
                            <td>Пленка парниковая (рукав-1,5м) 100мк</td>
                            <td class="text-right u-nowrap">5</td>
                            <td class="text-right u-nowrap">53&nbsp;₽</td>
                            <td class="text-right u-nowrap">265&nbsp;₽</td>
                        </tr>


                        <tr>
                            <td>Лента малярная 48 мм х 50 м</td>
                            <td class="text-right u-nowrap">5</td>
                            <td class="text-right u-nowrap">96&nbsp;₽</td>
                            <td class="text-right u-nowrap">480&nbsp;₽</td>
                        </tr>


                        <tr>
                            <td>Мешок полипропиленовый зеленый 50х90 см</td>
                            <td class="text-right u-nowrap">30</td>
                            <td class="text-right u-nowrap">4,9&nbsp;₽</td>
                            <td class="text-right u-nowrap">147&nbsp;₽</td>
                        </tr>


                        <tr>
                            <td>Хлопчатобумажные перчатки 4 нити с ПВХ покрытием</td>
                            <td class="text-right u-nowrap">40</td>
                            <td class="text-right u-nowrap">10&nbsp;₽</td>
                            <td class="text-right u-nowrap">400&nbsp;₽</td>
                        </tr>


                        <tr>
                            <td>Средство универсальное WD-40, аэрозоль, 200 мл</td>
                            <td class="text-right u-nowrap">1</td>
                            <td class="text-right u-nowrap">213&nbsp;₽</td>
                            <td class="text-right u-nowrap">213&nbsp;₽</td>
                        </tr>


                        <tr>
                            <td>Правило алюминиевое трапеция 2.5 м</td>
                            <td class="text-right u-nowrap">1</td>
                            <td class="text-right u-nowrap">429&nbsp;₽</td>
                            <td class="text-right u-nowrap">429&nbsp;₽</td>
                        </tr>

                        <tr>
                            <td>Валик полиакрил Hardex 250 мм с рукояткой</td>
                            <td class="text-right u-nowrap">2</td>
                            <td class="text-right u-nowrap">299&nbsp;₽</td>
                            <td class="text-right u-nowrap">598&nbsp;₽</td>
                        </tr>

                        <tr>
                            <td>Профиль углозащитный штукатурный сетчатый 31х31 мм 3 м оцинкованный</td>
                            <td class="text-right u-nowrap">29</td>
                            <td class="text-right u-nowrap">58&nbsp;₽</td>
                            <td class="text-right u-nowrap">1 682&nbsp;₽</td>
                        </tr>

                        <tr>
                            <td>Штукатурка гипсовая машинная Knauf МП-75 30 кг</td>
                            <td class="text-right u-nowrap">151</td>
                            <td class="text-right u-nowrap">310&nbsp;₽</td>
                            <td class="text-right u-nowrap">46 810&nbsp;₽</td>
                        </tr>


                        <tr>
                            <td>Бетоконтакт Кнауф 20 кг</td>
                            <td class="text-right u-nowrap">1</td>
                            <td class="text-right u-nowrap">3 100&nbsp;₽</td>
                            <td class="text-right u-nowrap">3 100&nbsp;₽</td>
                        </tr>


                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4"
                                class="text-right u-nowrap">Итого: 70 412&nbsp;₽
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                    <h3>Работы</h3>
                    <table class="table">
                        <thead>

                        <tr>
                            <th>Наименование</th>
                            <th class="text-right">Кол-во</th>
                            <th class="text-right">Стоимость</th>
                            <th class="text-right">Сумма</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Гипсовая штукатурка стен под маяк слоем до 30мм.</td>
                            <td class="text-right u-nowrap">256 м²</td>
                            <td class="text-right u-nowrap">240&nbsp;₽</td>
                            <td class="text-right u-nowrap">61 440&nbsp;₽</td>
                        </tr>
                        <tr>
                            <td>Гипсовая штукатурка откосов.</td>
                            <td class="text-right u-nowrap">38,5 м. пог</td>
                            <td class="text-right u-nowrap">340&nbsp;₽</td>
                            <td class="text-right u-nowrap">13 090&nbsp;₽</td>
                        </tr>
                        <tr>
                            <td>Покрытие железа грунтовка 3 в 1</td>
                            <td class="text-right u-nowrap">15 м. пог</td>
                            <td class="text-right u-nowrap">340&nbsp;₽</td>
                            <td class="text-right u-nowrap">1 950&nbsp;₽</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4"
                                class="text-right u-nowrap">Итого: 76 480&nbsp;₽
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>