<section class="app-section u-padding-bottom-0 u-padding__section" id="done">
    <div class="container">
        <div class="row app-section__title">
            <div class="col-lg-12">
                <h3 class="app-title">Выполненные работы</h3>
                <p class="app-subtitle">Посмотрите проекты, которые мы уже выполнили для примерного понимания
                    цен</p>
            </div>
        </div>
        <div class="row app-card-img">

            <div class="col-xs-12 col-sm-4">
                <div class="app-card">
                    <a href="#portfolioModal1" data-toggle="modal">
                        <div class="app-card__img">
                            <img src="img/portfolio/item1min.jpg">
                            <span class="app-card-title">Однокомнатная квартира в Кудрово</span>
                        </div>
                        <div class="app-card__content">
                            <ul class="app-card__detail list-inline">
                                <li>
                                    <i class="fa fa-arrows-v u-rotate-45"></i><span>35 м²</span>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i><span>3 дня</span>
                                </li>
                            </ul>
                            <p><strong>Работы</strong>&nbsp;43 160&nbsp;₽</p>
                            <p><strong>Материалы</strong>&nbsp;42 954,50 &nbsp;₽</p>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-xs-12 col-sm-4">
                <div class="app-card">
                    <a href="#portfolioModal2" data-toggle="modal">
                        <div class="app-card__img">
                            <img src="img/portfolio/item2min.jpg">
                            <span class="app-card-title">Двухкомнатная квартира в Пушкине</span>
                        </div>
                        <div class="app-card__content">
                            <ul class="app-card__detail list-inline">
                                <li>
                                    <i class="fa fa-arrows-v u-rotate-45"></i><span>71 м²</span>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i><span>4 дня</span>
                                </li>
                            </ul>
                            <p><strong>Работы</strong>&nbsp;51 233&nbsp;₽</p>
                            <p><strong>Материалы</strong>&nbsp;55 850&nbsp;₽</p>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-xs-12 col-sm-4">
                <div class="app-card app-last">
                    <a href="#portfolioModal3" data-toggle="modal">
                        <div class="app-card__img">
                            <img src="img/portfolio/item3min.jpg">
                            <span class="app-card-title">Коттедж в деревне Вертемяги</span>
                        </div>
                        <div class="app-card__content">
                            <ul class="app-card__detail list-inline">
                                <li>
                                    <i class="fa fa-arrows-v u-rotate-45"></i><span>113 м²</span>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i><span>6 дней</span>
                                </li>
                            </ul>
                            <p><strong>Работы</strong>&nbsp;76 480&nbsp;₽</p>
                            <p><strong>Материалы</strong>&nbsp;70 412&nbsp;₽</p>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>