<section class="app-section u-padding__section u-padding-top-double" id="plus">
    <div class="container">
        <div class="row app-section__title">
            <div class="col-lg-12">
                <h3 class="app-title">Преимущества машинной штукатурки перед ручной</h3>
            </div>
        </div>
        <div class="row app-card-border app-card__flex-grid">
            <div class="col-xs-12 col-sm-4">
                <div class="app-card">
                    <div class="app-card__content">
                        <h4 class="app-card__title">Быстрее</h4>
                        <div class="u-list">
                            <div>
                                <span>&ndash;</span>
                                <div>Приступаем к работам в течение 3-х дней</div>
                            </div>
                            <div>
                                <span>&ndash;</span>
                                <div>Срок выполнения от 2-х дней</div>
                            </div>
                            <div>
                                <span>&ndash;</span>
                                <div>Скорость оштукатуривания в 3 раза быстрее</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="app-card">
                    <div class="app-card__content">
                        <h4 class="app-card__title">Дешевле</h4>
                        <div class="u-list">
                            <div>
                                <span>&ndash;</span>
                                <div>Расходуется на 18% меньше штукатурной смеси</div>
                            </div>
                            <div>
                                <span>&ndash;</span>
                                <div>Требуется всего 2-3 специалиста</div>
                            </div>
                            <div>
                                <span>&ndash;</span>
                                <div>Стоимость ниже на 32%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="app-card app-last">
                    <div class="app-card__content">
                        <h4 class="app-card__title">Быстрее</h4>
                        <div class="u-list">
                            <div>
                                Благодаря автоматическому способу приготовления смесь имеет однородную консистенцию.
                            </div>
                            <div>
                                Нанесение штукатурки под высоким давлением улучшает адгезию.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>