<footer class="app-footer u-bg-blue">
    <div class="container">
        <div class="app-footer__row">
            <div class="app-footer__col">
                <span>© 2017 "Профоснова" –  Машинная штукатурка</span>
            </div>
            <div class="app-footer__col">
                <ul class="u-list">
                    <li class="app-tel">+7 (812) 642-38-68</li>
                    <li>198035, г.Санкт-Петербург</li>
                    <li>ул.Двинская, д.3, лит.А БЦ "Бригантина"</li>
                </ul>
            </div>
        </div>
    </div>
</footer>