<header class="app-head">
    <div class="container">
        <div class="app-head__info">
            <h1><span>Нужна машинная штукатурка?</span></h1>
            <h2>
                <span>Штукатурим от 220&nbsp;₽ за квадратный метр</span>
            </h2>
            <div class="app-head-list">
                <div>
                    <span>&mdash;&nbsp;Индивидуальный подход к прорабам</span>
                </div>

                <div>
                    <span>&mdash;&nbsp;Только русские специалисты</span>
                </div>

                <div>
                    <span>&mdash;&nbsp;Заезд в течение трех дней</span>
                </div>
                <div>
                    <span>&mdash;&nbsp;10 станций на 220 вольт</span>
                </div>
            </div>
            <!--suppress HtmlUnknownAnchorTarget -->
            <a href="#callForm" class="page-scroll btn btn-primary">Заказать расчет</a>
        </div>
    </div>
</header>