<section class="app-section">
    <div class="app-map">
        <div class="app-map__label">
            <div class="app-map__label-img">
                <img src="img/map.jpg" alt="Профоснова">
            </div>
            <div class="app-map__label-info">
                <h3>Профоснова</h3>
                <dl class="app-dl-icon dl-horizontal">
                    <dt><i class="fa fa-phone"></i></dt>
                    <dd><a href="tel:+78126423868">+7 (812) 642-38-68</a></dd>
                    <dt><i class="fa fa-envelope-o"></i></dt>
                    <dd><!--suppress HtmlUnknownTarget -->
                        <a href="male:info@profosnova.ru">info@profosnova.ru</a></dd>
                    <dt><i class="fa fa-paper-plane"></i></dt>
                    <dd>198035,<br> г. Санкт-Петербург,<br>ул. Двинская, д.3 , лит.А<br> БЦ “Бригантина”</dd>
                </dl>
            </div>
        </div>
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A39cf96e161d29c3035de5eb92349f403162d6c04196453b74c9c6a812855ba7d&amp;width=100%25&amp;height=490&amp;lang=ru_RU&amp;scroll=false"></script>
    </div>
</section>