<section class="app-section u-center-md u-padding__section" id="process">
    <div class="container">
        <div class="row app-section__title">
            <div class="col-lg-12">
                <h3 class="app-title">Порядок работы</h3>
            </div>
        </div>
        <div class="row app-card-gray app-card__flex-grid u-margin-bottom-double">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="app-card u-bg-i-1">
                    <div class="app-card__content">
                        <span class="app-badge">1</span>
                        <h4 class="app-card__title">Специалист выезжает на объект для замера</h4>
                        <div class="u-list">
                            <div>
                                Все начинается с того, что специалист выезжает на объект и производит замеры.
                            </div>
                            <div>
                                Выезд замерщика бесплатный.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="app-card u-bg-i-2">
                    <div class="app-card__content">
                        <span class="app-badge">2</span>
                        <h4 class="app-card__title">Составляем смету и подписываем договор</h4>
                        <div class="u-list">
                            <div>
                                Далее на основе данных замера, составляется детальная смета.
                            </div>
                            <div>
                                Стоимость услуг фиксируется в договоре.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="app-card u-bg-i-3">
                    <div class="app-card__content">
                        <span class="app-badge">3</span>
                        <h4 class="app-card__title">Выполнение работ</h4>
                        <div class="u-list">
                            <div>
                                В течение трех дней с момента подписания договора, бригада выезжает на объект и
                                начинает работу.
                            </div>
                            <div>
                                Выполняем работы в точно отведенные сроки.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="app-card app-last u-bg-i-4">
                    <div class="app-card__content">
                        <span class="app-badge">4</span>
                        <h4 class="app-card__title">Сдача объекта и оплата</h4>
                        <div class="u-list">
                            <div>Оплата работ производится после приемки объекта заказчиком.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="app-card">
                    <span class="app-i-check"></span>
                    <h4 class="app-card__title">Без предоплаты</h4>
                    <div>Оплата работ производится только после сдачи объекта.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="app-card">
                    <span class="app-i-check"></span>
                    <h4 class="app-card__title">Работы «Под ключ»</h4>
                    <div>Мы сами закупаем и доставляем все материалы со скидкой.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="app-card">
                    <span class="app-i-check"></span>
                    <h4 class="app-card__title">Фиксированная цена</h4>
                    <div>Вы точно знаете итоговую стоимость работ, она прописывается в договоре.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="app-card app-last">
                    <span class="app-i-check"></span>
                    <h4 class="app-card__title">Гарантия</h4>
                    <div>Даем гарантию на выполненные работы до 5 лет.</div>
                </div>
            </div>
        </div>
    </div>
</section>