<section class="app-section u-padding-top-double" id="price">
    <div class="container">
        <div class="row app-card-img--full">
            <div class="col-xs-12 col-sm-4">
                <div class="app-card">
                    <div class="app-card__img">
                        <img src="img/process_1.jpg">
                        <span class="app-card-title">Стены</span>
                        <span class="app-card-txt">от 220 &nbsp;₽/м²</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="app-card">
                    <div class="app-card__img">
                        <img src="img/process_2.jpg">
                        <span class="app-card-title">Потолки</span>
                        <span class="app-card-txt">от 350 &nbsp;₽/м²</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="app-card">
                    <div class="app-card__img">
                        <img src="img/process_3.jpg">
                        <span class="app-card-title">Откосы</span>
                        <span class="app-card-txt">от 300 &nbsp;₽/м²</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row app-card__flex-grid">
            <div class="col-xs-12 col-sm-7">
                <div class="app-card u-bg-orange">
                    <div class="app-card__content">
                        <h4 class="app-card__title">В работу входит:</h4>
                        <div class="u-list">
                            <div>
                                <span>&ndash;</span>
                                <div>Грунтовка поверхности</div>
                            </div>
                            <div>
                                <span>&ndash;</span>
                                <div>Установка маяков</div>
                            </div>
                            <div>
                                <span>&ndash;</span>
                                <div>Нанесение выравнивающего слоя по маякам</div>
                            </div>
                            <div>
                                <span>&ndash;</span>
                                <div>Выемка маяков</div>
                            </div>
                            <div>
                                <span>&ndash;</span>
                                <div>Заштукатуривание ниш от маяков</div>
                            </div>
                            <div>
                                <span>&ndash;</span>
                                <div>Глянцевание поверхности под обои</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 app-card-border--blue">
                <div class="app-card">
                    <div class="app-card__content">
                        <div class="app-card__title">
                            <h4>Минимальный заказ</h4>
                            <h5>от 25 000 ₽</h5>
                        </div>
                    </div>
                    <div class="app-card__footer">
                        <p>Приступаем в течение 3-х дней</p>
                        <a href="#orderCalculationForm" class="btn btn-info btn-block page-scroll">Заказать
                            расчет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>